@import "./variables";
main {
    height: 85vh;

    .card:hover {
      opacity: 0.7;
    }
    

    .card-text {
      text-align: justify;
    }
}
#all_mains {
  background-image: $background_image;
  background-size: cover;
}
